body{
  color:rgb(20, 20, 20);
  font-family: 'Open Sans', sans-serif;
}
p{
  font-size:16px;
}
h1{
  font-family: 'Lobster', cursive;
  color:white;
}
#my-header{
  text-align: center;
  padding-top:150px;
  padding-bottom:150px;
  color: white;
  background: url("http://lorempixel.com/1300/600/sports/7");
}
.feature{
  padding: 40px;
  font-weight: 300;
}
#my-footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#my-footer a {
  color: lightgrey;
  font-size: 25px;
}
#my-footer a:hover {
  color: white;
}
